[mysqld]
user            = mysql
socket          = /var/run/mysqld/mysqld.sock
port            = 3306
basedir         = /usr
datadir         = /data1/mysql-data
tmpdir          = /mysqltmp
skip-external-locking = 1

## Cache
thread_cache_siz=16
table_open_cache=2048
table_definition_cache=512
query_cache_size=128M
query_cache_limit=1M

server-id=83
log_bin=/mysqllogs/bin-log
log_bin_index=/mysqllogs/bin-log.index
relay-log = /mysqllogs/db8-relaylog
expire_logs_days=30
#log_slave_updates
skip-slave-start
#sync_binlog=1


# Per-Thread Buffers
# ------------------
sort_buffer_size=8M
read_buffer_size=1M
read_rnd_buffer_size=8M
join_buffer_size=3M


# Default to using old password format for compatibility with mysql 3.x
# clients (those using the mysqlclient10 compatibility package).
old_passwords=1
max_connections=600
max_allowed_packet = 100M

# added 4/20/2010
wait_timeout=360000

thread_concurrency = 16

# added 5/28/2008:
max_heap_table_size=67108864
tmp_table_size=67108864
query_cache_size=33554432
open-files-limit=20000

key_buffer_size=60G
myisam_sort_buffer_size = 2048M
bulk_insert_buffer_size=1024M

#Added by VP on 3/30/2012 (But havnt restarted DB)
#key_buffer_size=20G
#myisam_sort_buffer_size=1G
#bulk_insert_buffer_size = 256M

# Innodb parameters
# added 5/25/2010: to accomadate more locks for innodb usage
innodb_buffer_pool_size=16G
innodb_log_file_size=200M
innodb_file_per_table=1
## Logging
slow_query_log=1
slow_query_log_file=/mysqllogs/slow_query.log
long_query_time=5
#log-queries-not-using-indexes  = 1
log_error=/mysqllogs/mysqld.log

group_concat_max_len=16384

[mysqld_safe]
err-log=/mysqllogs/mysqld.log
pid-file=/mysqllogs/mysqld.pid



===========


mysql> show slave status \G
*************************** 1. row ***************************
               Slave_IO_State: Waiting for master to send event
                  Master_Host: 192.168.201.45
                  Master_User: repl
                  Master_Port: 3306
                Connect_Retry: 60
              Master_Log_File: bin-log.001813
          Read_Master_Log_Pos: 195718473
               Relay_Log_File: db8-relaylog.002078
                Relay_Log_Pos: 195718616
        Relay_Master_Log_File: bin-log.001813
             Slave_IO_Running: Yes
            Slave_SQL_Running: Yes
              Replicate_Do_DB:
          Replicate_Ignore_DB:
           Replicate_Do_Table:
       Replicate_Ignore_Table:
      Replicate_Wild_Do_Table:
  Replicate_Wild_Ignore_Table:
                   Last_Errno: 0
                   Last_Error:
                 Skip_Counter: 0
          Exec_Master_Log_Pos: 195718473
              Relay_Log_Space: 195718809
              Until_Condition: None
               Until_Log_File:
                Until_Log_Pos: 0
           Master_SSL_Allowed: No
           Master_SSL_CA_File:
           Master_SSL_CA_Path:
              Master_SSL_Cert:
            Master_SSL_Cipher:
               Master_SSL_Key:
        Seconds_Behind_Master: 0
Master_SSL_Verify_Server_Cert: No
                Last_IO_Errno: 0
                Last_IO_Error:
               Last_SQL_Errno: 0
               Last_SQL_Error:
1 row in set (0.00 sec)