# 'check_mysql_slavestatus' command definitions
define command{
    command_name check_mysql_slavestatus
    command_line /usr/lib/nagios/plugins/check_mysql_slavestatus.sh -H $HOSTADDRESS$ -P $ARG1$ -u $ARG2$ -p $ARG3$
}


# 'drdb_check_max_ids' command definition
define command{
    command_name drdb_check_max_ids
    command_line /usr/lib/nagios/plugins/drdb_check_max_ids.rb $ARG1$ $ARG2$ $ARG3$ $ARGV4$ $ARGV5$ $ARGV6$
}
